@import '/src/styles/var';
@import '/src/styles/mixins';


.table-background {
  position: absolute;
  bottom: 0;
  height: calc(100% - 2rem);
  width: 100%;
  z-index: -1;
  border-radius: $border-radius-main;
  background: white;
  box-shadow: $box-shadow;
}

.task-table {
  position: relative;
  width: 100%;
  text-align: left;
  font-size: .8rem;
  border-spacing: 0;
  padding: $content-padding;

  th, td {
    white-space: nowrap;
  }

  thead {
    th {
      font-size: 1rem;
      color: $grey-dark-1;
      font-weight: $regular;
      padding-bottom: .5rem;
      vertical-align: middle;

      i {
        margin-right: .2rem;
      }

      // space between headings
      &:not(:last-child) {
        padding-right: .5rem;
      }
    }

  }

  tbody {
    position: relative;

    tr {

      word-break: break-all;

      // row divider
      &:not(:first-child) {
        td {
          border-top: 1px solid $grey-dark-1;
        }
      }

    }

    td {

      padding: $content-padding-vertical;

      // task name takes up most space
      &:first-child {
        width: 60%;
        max-width: 0;
        text-overflow: ellipsis;
        overflow: hidden;
      }

      // align icon towards end
      &:last-child {
        text-align: right;
      }
    }
  }

}