
// Colors
$red: #EE6767;
$red-hover: #EE676726;
$green: #00BE5B;
$green-hover: #00BE5B26;
$blue: #2793F7;
$blue-hover: #2793F726;
$grey-light-1: #F1F1F1;
$grey-light-2: #fafafa;
$grey: #DBDBDB;
$grey-dark-1: #ABABAB;
$font-color: #2A2A2A;

// font-weight
$bold: 800;
$semibold: 500;
$regular: 400;
$light: 300;

// sizes
$header-height: 5rem;
$content-padding: 1rem;
$border-radius-main: 4px;
$border-radius-big: 10px;
$content-padding-vertical: .25rem;
$content-padding-horizontal: .5rem;
$content-padding: $content-padding-vertical $content-padding-horizontal;

$breakpoint-desktop: 700px;


// other reusable styles
$box-shadow-big: 0px 0px 10px rgba(0,0,0,0.2);
$box-shadow: 2px 2px 6px rgba(0,0,0,0.1);