
// Colors
$red: #EE6767;
$green: #00BE5B;
$blue: #2793F7;
$grey-light-1: #F1F1F1;
$grey: #DBDBDB;
$grey-dark-1: #ABABAB;
$font-color: #2A2A2A;

// font-weight
$bold: 800;
$semibold: 600;
$light: 300;

// sizes
$header-height: 5rem;
$content-padding: 1rem;

// other reusable styles
$box-shadow-big: 0px 0px 10px rgba(0,0,0,0.2);
$box-shadow: 0px 0px 10px rgba(0,0,0,0.2);