@import 'mixins';
@import 'var';

.debug {
  border: 1px dashed orange;
}

* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  background: $grey-light-1;
}


