@import 'mixins';
@import 'var';

.debug {
  border: 1px dashed orange;
}

:root {
  font-size: 16 px;
}

// larger font size on desktop
@media (min-width: $breakpoint-desktop) {
  * {
    font-size: 1.125rem; //18px
  }
}

* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
  color: $font-color;
}

html, body {
  margin: 0;
  padding: 0;
  background: $grey-light-1;
}

body {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: -100;
}

button {
  text-transform: uppercase;
  font-weight: $semibold;
  border: none;
  background: none;
  color: $blue;
  font-size: 1rem;
  padding: .5rem;
  border-radius: 4px;

  &.cancel {
    color: $red;
  }

  &:hover {
    opacity: 0.75;
    cursor: pointer;
  }

  &[disabled] {
    color: $grey-dark-1;
    &:hover {
      background: transparent;
      opacity: inherit;
      cursor: inherit;
    }
  }

}

i {
  font-size: inherit;
  color: inherit;
  font-style: normal;
}

input[type="text"] {
  background: transparent;
  border: 0;
  border-bottom: 1px solid $grey-dark-1;
  outline: 0;
  font-size: inherit;
}




