@import '/src/styles/mixins';
@import '/src/styles/var';

.task-item {
  @include flex(row, space-between, center);
  gap: $column-gap;
  margin: $task-item-margin;
  padding: .5rem 0;
  &:not(:first-child) {
    border-top: 2px solid $grey;
  }
}



.task-name {
  flex-grow: 1;
  // name takes remaining space after other info
}

.task-details {
  width: $right-content-width;

}