@import '/src/styles/var';
@import '/src/styles/mixins';

.main-content-container {
  @include flex(column, flex-start, center);
  padding: $content-padding;
  padding-top: calc($content-padding-horizontal + $header-height); // to clear header
  width: 100%;
  max-width: 50rem;
}

.content-wrapper {
  @include flex(column, flex-start, stretch);
  width: 100%;
}